*{
    background-color: transparent;
}

h2
{
    background-color: #2196F3;
}

button
{
    border: none;
    color: #fff;
    background-color: #2196F3;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    transition: all 0.5s ease;
}

button:hover
{
    color: #2196F3;
    background-color: #fff;
}

mat-dialog-content
{
    background-color: #fff;
    color: #333 !important;
}

mat-dialog-actions
{
    justify-content: flex-end;
    background-color: #fff;
}